<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Find</title>
    </head>
    <body>
        <wicket:panel>
            <form wicket:id="search">
                <div style="text-align:right">
                    Codice: <input type="text" wicket:id="findCode"/>
                    Regione: <input type="text" wicket:id="findRegion"/>
                    <input type="submit" wicket:id="find"/>
                </div>
            </form>
        </wicket:panel>
    </body>
</html>
