<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>AdvancedFind</title>
    </head>
    <body>
        <wicket:panel>
            <form wicket:id="search">
                <div style="text-align:center">
                    <wicket:message key="code"/> <input size="8" type="text" wicket:id="findCode"/>
                    <wicket:message key="description"/> <input size="10" type="text" wicket:id="findDescription"/>
                    <wicket:message key="exempt"/> <input size="6" type="text" wicket:id="findExempt"/>
                    <input type="submit" wicket:id="find"/>
                    <a wicket:id="link"><wicket:message key="simplyFind"/></a>
                </div>
            </form>
        </wicket:panel>
    </body>
</html>
