<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/tmp/remara-persistence.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/tmp/remara-persistence.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="net.tirasa.remara.persistence">
    <level value="DEBUG"/>
    <appender-ref ref="main"/>
  </logger>
  
  <logger name="org.springframework" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="main"/>
  </logger>
  <logger name="org.springframework.orm" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="persistence"/>
  </logger>
  <logger name="org.springframework.web" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="main"/>
  </logger>

  <logger name="org.apache.http" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="main"/>
  </logger>
  <logger name="org.apache.openjpa" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="main"/>
  </logger>

    
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="main"/>
  </root>
</configuration>


